:root {
  --bg_page: #393E46;
  --color_primary: #222831;
  --color_secudary:#FFD369;
  --color_text: #EEEEEE;
  --sm: 16px;
  --md:18px;
  --lg:20px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: var(--md);
}
body{
  background-color: var(--bg_page);
  font-weight: normal;
  color: var(--color_text);
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color_primary);
  align-items: center;
  height: 90px;
  padding: 5px 10%;
}
.logo__img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}
.logo__img:hover {
  transform: scale(1.2);
}
.nav__list {
  list-style: none;
}
.nav__item {
  display: inline-block;
  padding: 0 20px;
}
.nav__item:hover {
  transform: scale(1.1);
}
.nav__link {
  text-decoration: none;
  font-size: var(--md);
  font-weight: bold;
  color: var(--color_text);
}
.nav__link:hover {
  color: var(--color_secudary);
}
.header__btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: var(--md);
  transition: all 0.3s;
}
.header__btn:hover {
  transform: scale(1.1);
  background-color: var(--color_secudary);
}
.sect {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #3333337d;
  color: #fff;
}
video {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
h1 {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
}