:root {
  --black: #000000;
  --bg_page: #393e46;
  --color_primary: #222831;
  --color_secudary: #ffd369;
  --color_text: #eeeeee;
  --sm: 20px;
  --md: 28px;
  --lg: 36px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: var(--color_text);
  background-color: var(--black);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
figure {
  margin: 0;
  padding: 0;

}
a {
  text-decoration: none;
}
h1, h2, h3, h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}


/* Estilos del navbar */

.header {
  background-color: var(--black);
  padding: 15px 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo__image {
  width: 100px;
  transition: all 0.3s;
}
.logo__image:hover {
  transform: scale(1.2);
}
.burguer {
  margin: 0;
  display: none;
  cursor: pointer;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.nav__item {
  padding: 0 15px;
  font-size: 20px;
}
.nav__item:hover {
  transform: scale(1.1);
}
.nav__link {
  color: var(--color_text);
  font-weight: bold;
}
.nav__link:hover {
  color: var(--color_secudary);
}
.btn {
  height: 60px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: var(--sm);
  transition: all 0.3s;
}
.btn:hover {
  transform: scale(1.1);
  background-color: var(--color_secudary);
}


/*hero*/
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 89.8vh;
  z-index: 0;
}
.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  overflow: hidden;
  z-index: -100;
}
.hero__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__img {
  width: 720px;
  margin-bottom: 30px;
}
.hero__title {
  margin: 0;
}
.hero__paragraph {
  margin: 20px 0;
  font-size: var(--sm);
}
.hero__btn {
  display: none;
}

/* ----------------- nosotros ---------------------- */
.container {
  width: min(90%, 1200px);
  margin: 100px auto;
}
.us__title {
  color: var(--color_text);
  font-weight: bold;
  text-align: center;
}
.us__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.us__img {
  max-width: 100%;
  border-style: none;
}
.us__paragraph {
  color: var(--color_text);
  text-align: justify;
  line-height: 1.5;
}

/* Servicios */

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  justify-items: center;
  grid-gap: 20px;
}
.services__title {
  text-align: center;
}
.service__card {
  max-width: 100%;
  transition: 0.5s;
}
.service__card:hover {
  transform: translateY(-5%);
  filter: grayscale(60%);
}
.service__img {
  width: 100%;
  border-radius: 15px;
  transition: 0.05s;
}

.service__paragraph {
  text-align: justify;
}

/* Figuras */
.fig-rs {
  position: fixed;
  top: 40%;
  right: 10px;
}
.fig {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
  padding: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: var(--bg_page);
  transition: 0.3s;
}
.fig:hover {
  background-color: var(--color_secudary);
}
.fig__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* Contactos */
.contact {
  font-size: var(--sm);
}
.contacts__title {
  text-align: center;
}
.contact__hour {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
.contacts__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 15px;
}
.contacts__item {
  display: flex;
  align-items: center;
  column-gap: 5px;
}



/* Footer */
.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color_primary);
  margin: 0;
  padding: 10px 20px;
}
.social {
  display: flex;
  column-gap: 10px;
}
.footer__text {
  margin: 0;
  font-size: 12px;
}

/* Media queris */
@media (max-width: 768px) {
  .nav__btn {
    display: none;
  }
  .btn__link {
    display: none;
  }
  .btn__res {
    display: block;
  }
  .nav {
    width: 100%;
    display: none;
  }
  .nav.activo {
    display: block;
  }
  .burguer {
    display: block;
  }
  .nav__list {
    flex-direction: column;
  }
  .nav__item {
    margin: 15px 0;
  }

  /* Hero */
  .hero__img {
    width: 80%;
  }
  .hero__info {
    width: 90%;
  }
  .hero__title {
    font-size: var(--md)
  }
  .hero__paragraph {
    font-size: var(--sm);
  }
  .hero__btn {
    display: block;
  }

  /* nosotros */
  .us__info {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
  }

  /* Servicios */


  /* figuras */
  .fig-rs {
    top: 70%;
  }

  /* Contactos */

  .contact {
    font-size: 14px;
  }
  
  /* Footer */
  .footer {
    column-gap: 20px;
  }
}

@media (max-width: 480px) {
  .contacts__list {
    justify-content: start;
    row-gap: 10px;
  }

  /* Footer */
  .social__fig {
    width: 40px;
    height: 40px;
  }
  .social__icon {
    width: 30px;
  }
}